body {
  background-color: #FBFBFB;
}

div {
  width: auto;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}

h4 {
  color: #333333;
}

a {
  color :#333333;
}

#title-block {
  padding-top: 10%;
}

#links-block {
  padding-top: 1%;
  font-family: 'Cutive Mono', monospace;
}
